<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<script>
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//alotroladodelapagina.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<link rel="import" href="../ui/article-container.html">
<link rel="import" href="../ui/ui-tag.html">

<dom-module id="expanded-blog-entry">
    <template>
        <link rel="stylesheet" href="../../css/expanded-blog-entry.css">
        <article>
            <header>
                <h2>{{model.title}}</h2>
                <h5>{{computedDate}}</h5>
            </header>
            <article-container text="{{model.body}}"></article-container>
            <footer>
                <template is="dom-repeat" items="{{model.tags}}" as="tag">
                    <ui-tag text="{{tag}}" on-click="_handleClick"></ui-tag>
                </template>
            </footer>
        </article>
        <article id="disqus_thread">

        </article>
    </template>
    <script>
        Polymer({
            is: 'expanded-blog-entry',
            properties: {
                model: {
                    type: Object,
                    observer: '_onChange'
                },
                err: {
                    type: Boolean,
                    value: false
                },
                computedDate: {
                    type: String,
                    computed: '_computeDate(model.date)'
                }
            },
            _onChange: function () {
                if (!this.err) {
                    this._disqus();
                }
            },
            _disqus: function () {
                var title = this.model.title;
                if (typeof DISQUS !== 'undefined') {
                    DISQUS.reset({
                        reload: true,
                        config: function () {
                            this.page.url = window.location.href;
                            this.page.identifier = title.split(' ').join('_');
                        }
                    });
                }
            },
            _computeDate: function (date) {
                date = new Date(date);
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                var hours = date.getHours();
                hours = String(hours).split('').length < 1 ? "00" :
                    String(hours).split('').length < 2 ? "0" + hours : hours;
                var minutes = date.getMinutes();
                minutes = String(minutes).split('').length < 1 ? "00" :
                    String(minutes).split('').length < 2 ? "0" + minutes : minutes;
                return day + '/' + month + '/' + year + ' ' + hours + ':' + minutes;
            },
            _handleClick: function (e) {
                var model = e.model;
                var text = window.encodeURIComponent(model.get('tag').split(' ').join('-'));
                window.location.hash = '#/?tag=' + text;
                window.scrollTo(0, 0);
            }
        });
    </script>
</dom-module>
