<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../ui/ui-stars.html">

<dom-module id="book-view">
    <template>
        <link rel="stylesheet" href="../../css/book-view.css">
        <article>
            <img src="{{model.image}}" alt="{{model.title}}" />
            <div id="info">
                <hgroup>
                    <h4><a href$="{{model.link}}">{{model.title}}</a></h4><span>by</span><h5>{{model.author}}</h5>
                </hgroup>
                <div id="review">{{review}}</div>
                <ui-stars id="stars" max="5" value="{{model.stars}}"></ui-stars>
            </div>
        </article>
    </template>
    <script>
        Polymer({
            is: 'book-view',
            properties: {
                model: Object,
                max: {
                    type: Number,
                    value: 200
                },
                review: {
                    type: String,
                    computed: 'computeReview(model.review, max)'
                }
            },
            computeReview: function (review, max) {
                review = review.replace(/<br\/>/g, ' ');
                review = review.replace(/<br \/>/g, ' ');
                if (review.length > max) {
                    return review.slice(0, max) + '...';
                } else {
                    return review;
                }
            }
        });
    </script>
</dom-module>
