<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../ui/article-container.html">

<dom-module id="about-section">
    <template>
        <link rel="stylesheet" href="../../css/about-section.css">
        <section>
            <article-container text='
                <h2>Sobre este blog.</h2>
                <div class="side-image">
                    <img src="/img/perfil.jpg">
                    <div>
                        <p class="ptop">
                            Me llamo Pablo y me gusta leer género fantástico.
                            Abro este blog como complemento al
                            <a href="http://www.ivoox.com/podcast-al-otro-lado-pagina_sq_f1311477_1.html">podcast</a>
                            porque hay muchos libros que cuando acabo me entran ganas de reseñar pero que,
                            o bien no me pegan con el contenido que estoy subiendo en ese formato,
                            o directamente me supondrían un gasto de tiempo que mis estudios no me permiten.
                            El blog me da un poco más de flexisibilidad y me pertime subir contenido con mayor frecuencia.
                            Espero que lo que encuentres te parezca interesante :)
                        </p>
                    </div>
                </div>
                <p class="indent-none center-text pbottom15">
                    También me encuentras en <a href="https://www.goodreads.com/pablorp">goodreads</a>,
                    en <a href="https://twitter.com/alotroladodelap">twitter</a>, en el
                    <a href="http://www.ivoox.com/podcast-al-otro-lado-pagina_sq_f1311477_1.html">podcast</a>
                    o en el email <span class="word-break secondary-color">alotroladodelapagina@gmail.com</span>.
                </p>
            '></article-container>
        </section>
    </template>
    <script>
        Polymer({
            is: 'about-section'
        });
    </script>
</dom-module>
