<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../blog/expanded-blog-entry.html">
<link rel="import" href="./not-found.html">

<dom-module id="article-section">
    <template>
        <link rel="stylesheet" href="../../css/article-section.css">
        <iron-ajax
            id="req"
            handle-as="json"
            on-response="_handleResponse"></iron-ajax>
        <expanded-blog-entry model="{{model}}" err="[[err]]"></expanded-blog-entry>
    </template>
    <script>
        Polymer({
            is: 'article-section',
            properties: {
                article: {
                    type: String,
                    value: '',
                    observer: '_onChange'
                },
                model: {
                    type: Object,
                    value: function () {
                        return {
                            title: 'titulo',
                            body: '',
                            tags: [],
                            date: new Date()
                        }
                    }
                },
                err: {
                    type: Boolean,
                    value: true
                }
            },
            _get: function (title) {
                title = window.decodeURIComponent(title);
                let model;
                if (window.localStorage && (model = window.localStorage.getItem(title))) {
                    this.model = JSON.parse(model);
                    this.err = false;
                } else {
                    this.$.req.url = '/articles/' + title;
                    this.$.req.generateRequest();
                }
            },
            _onChange: function (_new) {
                if (!!_new) {
                    this._get(_new);
                }
            },
            _handleResponse: function (e, res) {
                if (!res.response.err) {
                    if (res.response.article === null) {
                        this.err = true;
                        window.location.hash = '#/not-found';
                    } else {
                        this.model = res.response.article;
                        window.localStorage.setItem(
                            this.model.title.split(' ').join('-'),
                            JSON.stringify(this.model)
                        )
                        this.err = false;
                    }
                } else {
                    this.err = true;
                    window.location.hash = '#/not-found';
                }
            }
        });
    </script>
</dom-module>
