<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../ui/article-container.html">

<dom-module id="not-found">
    <template>
        <link rel="stylesheet" href="../../css/not-found.css">
        <article>
            <article-container text='
                <h2>Lo que buscas no está aquí o no existe</h2>
                <p class="center-text font-ultra indent-none">:(</p>
            '></article-container>
        </article>
    </template>
    <script>
        Polymer({
            is: 'not-found'
        });
    </script>
</dom-module>
