doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.3/webcomponents.min.js")
    link(href="https://fonts.googleapis.com/css?family=Capriola|Lustria", rel="stylesheet")
    block meta
    block links
  body
    block content
    block scripts
