extends ./base.pug

block meta
    title Al otro lado de la página

block links
    link(rel="stylesheet", href="/css/app.css")
    link(rel="import", href="/components/app.html")

block content
    my-header
    content-pages
