extends ./base.pug

block meta
    title Al otro lado de la página

block links
    link(rel="stylesheet", href="/css/app.css")
    link(rel="import", href="/components/app.html")

block content
    my-header
    content-pages
    ui-footer
        ui-addon(class="links goodreads", text="g", href="https://www.goodreads.com/pablorp") goodreads
        ui-addon(class="links twitter", icon="icon-twitter", href="https://twitter.com/alotroladodelap") twitter
    google-analytics(code="UA-90483739-1")
