<!--<script src="../../../bower_components/webcomponentsjs/webcomponents.min.js"></script>-->
<link rel="import" href="../../../bower_components/polymer/polymer.html">

<!-- external components -->


<!-- sections -->
<link rel="import" href="sections/home-section.html">
<link rel="import" href="sections/about-section.html">

<!-- ui components -->
<link rel="import" href="ui/my-header.html">
<link rel="import" href="ui/content-pages.html">

<!-- themes -->
<link rel="import" href="themes/theme.html">
