<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/app-route/app-location.html">
<link rel="import" href="../../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../sections/home-section.html">
<link rel="import" href="../sections/about-section.html">
<link rel="import" href="../sections/article-section.html">
<link rel="import" href="../sections/not-found.html">

<dom-module id="content-pages">
    <template>
        <link rel="stylesheet" href="../../css/content-pages.css">
        <main>
            <app-location route="{{route}}" use-hash-as-path></app-location>
            <app-route
                route="{{route}}"
                pattern="/:page"
                data="{{data}}"
                tail="{{tail}}"></app-route>
            <app-route
                route="{{tail}}"
                pattern="/:article"
                data="{{article}}"></app-route>

            <iron-pages
                selected="{{page}}"
                attr-for-selected="data-page"
                fallback-selection="not-found">
                    <home-section data-page=""></home-section>
                    <article-section data-page="blog" article="{{article.article}}"></article-section>
                    <about-section data-page="about"></about-section>
                    <not-found data-page="not-found"></not-found>
            </iron-pages>
        </main>

    </template>
    <script>
        Polymer({
            is: "content-pages",
            properties: {
                page: {
                    type: String,
                    computed: '_computePage(data)'
                }
            },
            _computePage: function (data) {
                return typeof data.page !== 'undefined' ? data.page : '';
            }
        });
    </script>
</dom-module>
