<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<dom-module id="ui-pagination">
    <template>
        <link rel="stylesheet" href="../../css/ui-pagination.css">
        <div id="left" class="side rotated" on-click="_leftClick">
            <span class="icon-arrow"></span>
        </div>
        <div class="middle"></div>
        <div class="middle"></div>
        <div class="middle"></div>
        <div id="right" class="side" on-click="_rightClick">
            <span class="icon-arrow"></span>
        </div>
    </template>
    <script>
        Polymer({
            is: 'ui-pagination',
            properties: {
                left: {
                    type: Boolean,
                    value: false,
                    observer: '_leftChange'
                },
                right: {
                    type: Boolean,
                    value: false,
                    observer: '_rightChange'
                }
            },
            _leftChange: function (value) {
                if (!value) {
                    this.$.left.style.visibility = 'hidden';
                } else {
                    this.$.left.style.visibility = 'visible';
                }
            },
            _rightChange: function (value) {
                if (!value) {
                    this.$.right.style.visibility = 'hidden';
                } else {
                    this.$.right.style.visibility = 'visible';
                }
            },
            _leftClick: function () {
                this.fire('lclick');
            },
            _rightClick: function () {
                this.fire('rclick');
            }
        });
    </script>
</dom-module>
