
<style is="custom-style">

    :root {
        --primary-color: #2988bb;
        --secondary-color: #ed8c72;
        --dark-color: #2f496e;
        --light-color: #f4eade;
        --twitter-color: #2988bb;

        --ui-star-fill-color: var(--secondary-color);
        --ui-star-void-color: var(--dark-color);

        --article-container-color: var(--dark-color);
        --article-container-bold-color: var(--secondary-color);
    }

    .twitter {
        --ui-addon-span-color: var(--dark-color);
        --ui-addon-span-background-color: white;
        --ui-addon-link-color: white;
        --ui-addon-link-background-color: var(--twitter-color);
    }

    .goodreads {
        --ui-addon-span-color: #6E3E0C;
        --ui-addon-span-background-color: #EEEBDB;
        --ui-addon-link-color: #6E3E0C;
        --ui-addon-link-background-color: #EEEBDB;
        --ui-addon-span-border: solid #6E3E0C;
        --ui-addon-span-border-width: 2px 2px 2px 2px;
        --ui-addon-text-adjust: 1.6em;
    }

</style>
